<section>
  <h1>
    Consulta saldo
  </h1>
  <header>
    <div>
      <b>Último login</b>:
      {{ cliente.ultimoLogin | date }}
    </div>
    <div>
      <b>Nome</b>:
      {{ cliente.nome | uppercase }}
    </div>
    <div>
      <b>Saldo</b>:
      <span [className]="cliente.saldo | classNamePorValor">
        {{ cliente.saldo | currency }}
      </span>
    </div>
    <div *ngIf="cliente.saldo > 0">
      <b>Crédito pré-aprovado</b>:
      {{ cliente.creditoPreAprovado | currency }}
    </div>
  </header>
</section>
